# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts


# Ignore everything in the assets folder
assets/*

# But don't ignore the folder itself (optional)
!assets/.gitkeep

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
stories/covarnius.json
stories/stories-jp.json
stories/storyIndex.json
stories/stories-is.json
stories/stories-fr.json
stories/stories-es.json
stories/stories-en.json
stories/stories-de.json
assets/images/ambassador-or-sneak.png
assets/images/Earth.png
assets/images/Two-Roads.png
assets/images/stories/covarnius/chapters/1/ChatGPT Image Jul 8, 2025 at 08_16_43 PM.png
assets/images/stories/covarnius/chapters/1/Chrono-in-spaceship.png
assets/images/stories/covarnius/chapters/1/Game-over-kitty.png
assets/images/stories/covarnius/chapters/1/luna_walk.png
assets/images/stories/covarnius/chapters/2/Covarnius.png
